<% title(@project.name, "Projects") %>
<p>
	<%= link_to "Edit Project", edit_project_path(@project) %>
</p>

<p>
	<%= link_to "Delete Project", @project, :confirm => "Are you sure you want to delete this project?", :method => :delete %>
</p>

<p>
	<%= link_to "New Ticket", new_project_ticket_path(@project) %>
</p>
